<!-- Header Toolbar -->

<header>

<!-- Central Containt -->
<div class="content-div">

    <!-- SideBar List -->
    <sidenavbar></sidenavbar>

    <!-- Main Grid -->
    <div mat-dialog-content>
        {{deidine}}
        <h5 style="text-align: left; margin-top: 5%"> Add New Product</h5>
        <hr class="hr-silver">


        <div style="width: 80%; margin-left: 10% ;">


            <form [formGroup]="addProductForm"  #myForm = "ngForm"  class="full-width" (ngSubmit)="onSubmit(); myForm.reset()" style="margin-top: 2%">
       <div class="form-group">

                    <label> numero</label>
                    <input required  type="text" [class.is-invalid]="addProductForm.get('numero').invalid
                                        && addProductForm.get('numero').touched"
                        [class.is-valid]="addProductForm.get('numero').valid" formControlName="numero"
                        class="form-control">

                    <small class="text-danger" [class.d-none]="addProductForm.get('numero').valid
                                              || addProductForm.get('numero').untouched">
                        numero </small>

                </div>
          

       
                <button mat-raised-button type="submit" title="Add in Product List"
                    style="width:30%; left:10%; margin-right: 20%; ">
                    <mat-icon>add</mat-icon>
                    ADD
                </button>

                <button mat-raised-button type="submit" title="Cancel" (click)="onClickCancel()"
                    style="width:30%; left:10%; ">
                    <mat-icon>cancel</mat-icon>
                    Cancel
                </button>

            </form>
        </div>




    </div>

</div></header>